@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.dashboard-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
@media screen and (max-width: 720px) {
  .dashboard-container {
    grid-template-columns: 1fr 2fr;
  }
}
@media screen and (max-width: 576px) {
  .dashboard-container {
    grid-template-columns: 1fr;
  }
}

.todos-container label {
  padding: 12px;
}
.idea {
  margin-bottom: 10px;
}
.idea:nth-child(even) {
  margin-left: 10px;
}
